<%= paginate @dogs %>

<% @dogs.each_with_index do |dogs, index| %>
 
    <%= render partial: "thumbnail", locals: {dog: dogs}%>
    <p><%= dogs.likes.count %> <%= "Like".pluralize(dogs.likes.count)%></p>
    <% if index.odd? %>
        <%= render partial: 'ad' %>
    <% end %>
 <% end %>

<%= paginate @dogs %>

